---
import Cheers from './Cheers';
import Monitoring from './Monitoring';
import POS from './POS';
import BlueCollar from './BlueCollar';
import ImageProcessing from './ImageProcessing';
---

<div class='my-24'>
  <h4 class='text-xs font-medium'>SHOWCASE</h4>
  <h3 class='flex-1 md:my-10 sm:my-5 text-2xl font-medium leading-snug'>See the value we create through innovation</h3>
  <Cheers client:visible/>
  <Monitoring client:visible/>
  <POS client:visible/>
  <BlueCollar client:visible/>
  <ImageProcessing client:visible/>
</div>