---
import Cheers from './Cheers';
import Monitoring from './Monitoring';
import POS from './POS';
---

<div class='my-24'>
  <h4 class='text-xs font-medium'>SHOWCASE</h4>
  <h3 class='flex-1 my-10 text-2xl font-medium leading-snug'>See the value we create through innovation</h3>
  <Cheers client:visible/>
  <Monitoring client:visible/>
  <POS client:visible/>
</div>