---
import Profile from './Profile';
import Achievements from './Achievements';
---

<div class='my-32'>
  <h4 class='text-xs font-medium mb-10'>ABOUT</h4>
  <Profile client:visible/>
  <Achievements client:visible/>
</div>