---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Container from '../components/Container';
---

<Layout title="Portfolio">
	<Header client:idle/>

	<Container>
		<section class="w-100 flex items-center justify-between" style="height: 85vh;">
			<div class="flex-1">
				<h1 class="text-7xl font-semibold tracking-wide leading-none">
					Francis James <br/> Tolentino
				</h1>
				<h2 class="text-xl font-normal tracking-wider">
					🧑🏻‍💻 Fullstack Developer 
					&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
					📲 Flutter Developer
				</h2>
				<div class="flex flex-row flex-1 items-center justify-center mt-10">
					<button class="px-8 rounded-lg transition-all text-white bg-indigo-700 
					hover:bg-indigo-900 py-3 w-1/2 text-sm">Portfolio</button>
					<button class="px-8 ml-3 rounded-lg text-sm text-indigo-700 py-3 w-1/2">About</button>
				</div>
					<ul class="flex mt-10">
						<a href="https://github.com/kiks12">
							<div class="mx-1 transition-all rounded-full shadow p-2 w-11 h-11 flex justify-center items-center cursor-pointer hover:shadow-lg">
								<i class='w-100'>
									<span><img src="/icons8-github-30.svg"/></span>
								</i>
							</div>
						</a>
						<a href="https://www.linkedin.com/in/francis-tolentino-08a428247">
							<div class="mx-1 transition-all rounded-full shadow p-2 w-11 h-11 flex justify-center items-center cursor-pointer hover:shadow-lg">
								<i class='w-100'>
									<span><img src="/icons8-linkedin-2-30.svg"/></span>
								</i>
							</div>
						</a>
						<a href="https://twitter.com/francisjames12_">
							<div class="mx-1 transition-all rounded-full shadow p-2 w-11 h-11 flex justify-center items-center cursor-pointer hover:shadow-lg">
								<i class='w-100'>
									<span><img src="/icons8-twitter-30.svg" /></span>
								</i>
							</div>
						</a>
					</ul>
			</div>
			<div style="height:40vh;" class="flex-1 rounded-xl ml-5 flex justify-center bg-gray-300 items-center">
				<h4>IMAGE</h4>
			</div>
		</section>

		<!-- <section>
			<div class="flex justify-between items-center">
				<div class="flex-1">
					<h3>Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="flex-1"></div>
			</div>
		</section> -->

	</Container>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.backg {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 8em;
		transform: rotate(-45deg) skew(40deg);
		-moz-transform: rotate(-45deg) skew(50deg);
		background-image: var(--astro-gradient);
		z-index: 0;
		width: 70em;
		height: 40em;
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
